html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #212121;
	color: white;
	font-family: Helvetica;
	font-weight: 100;
    letter-spacing: 2px; 
}

header{
    text-align: center;
}

.logo{
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 32px;
}

.homelogo{
	margin-top: 336px;
	margin-bottom: 336px;
}

h2 {
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 500;
	margin-left: 270px;
	margin-top: 32px;
	margin-bottom: 32px;
}

h3{
	font-size: 14px;
	margin-top: 17px;
}

h4{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-top: 17px;
}

h5{
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 500;
	margin-left: 270px;
	line-height: 30px;
	margin-top: 72px;
}

p{
	font-family: Georgia, serif;
	font-size: 12px;
	margin-top: 17px;
	line-height: 17px;
}

.AboutMe{
	float: right;
	width: 387px;
	margin-right: 380px;
	margin-top: 72px;
	line-height: 17px;
}

.projects{
	margin-right: auto;
	margin-left: auto;
	width: 749px;
}

.project{
	width: 30%;
	margin-right: ;
	display: inline-block;
}

.project:hover {
  	opacity: .75;
}

.project img{
	width:100%;
}

.me{
	width: 299px;
	height: 238px;
	margin-left: 332px;
	margin-top: 89px;
}

.contactstuff{
	height: 260px;
	width: 761px;
	display: block;
  	margin-left: 305px;
  	margin-top: 150px;
}

.enterbutton {
  	background: #3498db;
  	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
 	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  	background-image: -o-linear-gradient(top, #3498db, #2980b9);
 	background-image: linear-gradient(to bottom, #3498db, #2980b9);
 	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 0px;
  	color: #ffffff;
  	font-size: 14px;
  	font-family: Helvetica;
  	font-weight: 100;
  	letter-spacing: 2px;
  	background: #212121;
  	padding: 10px 20px 10px 20px;
  	border: solid #ffffff .5px;
  	text-decoration: none;
  	text-transform: uppercase;
  	text-align: center;
}

.enterbutton:hover {
  	background: #474747;
  	text-decoration: none;
}

.navlink{
	color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.ProjectInfo{
	width: 550px;
	margin-left: 270px;
	margin-top: 21px;
	line-height: 32px;
}

.kasitalogo{
	display: block;
	margin-top: 62px;
	margin-right: auto;
	margin-left: auto;
	height: 298px;
	width: 298px;
}

.biggerpics{
	display: block;
	margin-top: 62px;
	margin-right: auto;
	margin-left: auto;
	width: 848px;
	height: 566px;
}

.screenshots{
	display: block;
	margin-top: 62px;
	margin-right: auto;
	margin-left: auto;
	height: 768px;
	width: 436px;
}

.songs{
	display: block;
	margin-top: 62px;
	margin-right: auto;
	margin-left: auto;
	height: 768px;
	width: 502px;
}