body{
	background-color: #1b2326;
	color:white;

}
h1{
	color:white;
}

h3{
	color:white;
}

h4{
	color:#919699;
	font-weight: 200
}

h5{
	color:#1d9ba4;
	font-weight: 200
}

section{
	display:inline-block;
}

button {
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #00BCBD;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #1bf5f5;
  text-decoration: none;
}
