body{
	background-color: #1b2326;
	color:white;
	font-family:"LFT Etica";
	border-top: 2px solid #f66a5f;
}

#page-wrap {
	position: relative;
	width: 1080px;
	margin: auto;
	text-align: left;
}

.logo{
	height: 75px;
	width: 75px;
}

.monster{
	height: 800px;
	width: 575px;
}

.anchor{
	height: 800px;
	width: 575px;
}

.film{
	height: 600px;
	width: 575px;
}

h1{
	color:white;
	font-family: QuatroSlab;
	font-size: 36px;
}

h2{
	color:white;
	font-family: QuatroSlab;
	font-style: "regular";
	font-size: 24px;
	border-top: 1px dotted rgba(255, 255, 255, 0.3);
	padding-top: 36px;
}

h3{
	color:#919699;
	font-weight: 200;
	font-style: "Book";
	font-size: 16px;
}

h4{
	color:#1fbec0;
	font-weight: 200;
	font-style: "regular";
	font-size: 16px;
	padding-bottom: 18px;
}

p{
	color:#abadad;
	font-style: "regular";
	font-size: 16px;
	line-height: 24px;
}

section{
	display:inline-block;
	padding-top: 70px;
	padding-bottom: 70px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ProductInfo{
	float: left;
	width: 400px;
	margin-right: 100px;
}

a{
	color:#02CACA;
	text-decoration:none;
}

button {
  border-radius: 0px;
  border: 1px solid #55d8d9;
  font-style: "semibold";
  color: #ffffff;
  font-size: 14px;
  background: #00BCBD;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 25px;
}

button:hover {
  background: #1bf5f5;
  text-decoration: none;
}

.made{
  display: inline-block; 
}